* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
  max-width: 100% !important;
height: 100%;
overflow-x: hidden;
  }

header {
    display: flex;
    justify-content: space-around;
    padding: 0 0;
    height: 110px;
    border-bottom: 1px solid #F55353 ;
}

.logo > img {
    width: 430px;
    height: 100px;
    margin-top: 5px;
    margin-left: 20px;

}

.search {
    margin: 50px;
    width: 400px;
    display: flex;
    padding-left: 20px;
}

.searching {
    width: 200px;
    height: 30px;
    font-size: 15px;
}

.search > i {
    width: 30px;
    height: 60px;
    padding-left: 7px;
    font-size: 30px;
    color: #F55353;
}

.search h3 {
    padding-top: 0;
    margin-left: 20px;
    color: #F55353;
    font-size: 21px;
}
.others {
     margin-top: 42px;   
       font-size: 25px;
    color: #F55353;
    display: flex;
    padding-left: -80px;
  
}

.others > i {
    font-size: 30px;
    width: 40px;
    height: 60px;
    margin-top: 5px;
   
}

.menu {
    background-color: #F55353;
    width: 214vh;
    border-bottom: 1px solid #F55353 ;
    padding: 10px 50px;
    font-size: 20px;
    /* margin-left: 60px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-right: 2px solid #D0C9C0;
    visibility: visible;
}


.menu a {
    color: white;
    text-decoration: none;
        padding-left: 60px;
    padding-right: 80px;
}

.menu .fa {
    color: white;
    width: 60px;
    border-right: 2px solid #D0C9C0 ;
    font-size: 30px;
    /* padding-left: 30x;
    padding-right: 90px; */
}

li {
    list-style-type: none;
}

.menu > li {
    /* padding: 0 12px; */
    position: relative;
}
.hihi {
    border-right: 2px solid #D0C9C0 ;
    /* visibility: visible ; */
}



.menu > li:hover .sub-menu {
    visibility: visible;
    top: 22px;
    transition: 0.2s;
    
}

.sub-menu {
    position: absolute;
    width: 400px;
    padding: 10px 0 10px 10px;
    margin: 0;
    visibility: collapse;
    background-color: #2F8F9D;
    z-index: 1;
    top: 50px;
  border-radius: 9px;
}

.sub-menu > li a {
    padding: 10px 0 10px 10px;
    margin: 5px 5px 10px 20px;
    line-height: 1.5;
}

#slider {
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    height: 560px;
}

.aspect-ratio-169 {
    display: flex;
    position: relative;
    padding-top: 56.25%;
    transition: 1.5s;
    
}

.aspect-ratio-169 img {
    display: flex;
    position: absolute;
    margin-left: 300px;
    width: 60%;
    height: 60%;
    top: 0;
    left: 0;
padding-bottom: 0;
}

.dot-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
     text-align: center;
    justify-content: center;
    /* align-items: center; */
    padding-top: 30px;
    margin-top: -320px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #82DBD8 ;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    
}

.dot.active {
    background-color: #333;
}

.intro {
    font-size: 50px;
    color: #F55353;
    margin-top: 20px;
    text-align: center;
    
}
#introduce {
    background-color: #FEFBE7;
    padding-top: 10px;
}
.shop {
    font-size: 25px;
    color: black;
    margin-top: 20px;
    text-align: center;
    font-weight: none;
    line-height: 1.7;
}

.dot-introduce {
      height: 100%;
    width: 100%;
    display: flex;
     text-align: center;
    justify-content: center;
    /* align-items: center; */
    padding: 30px;
}

.dot2 {
    height: 10px;
    width: 10px;
    background-color: #D885A3 ;
    border-radius: 50%;
    margin-right: 12px;
}

#service {
    background-color: #B3E8E5;
    padding-top: 10px;
}

.service-list {
    margin-left: 60px;
    line-height: 1.7;
    font-size: 25px;
}

.fa-check {
    padding-right: 14px;
}

#linhkien {
    background-color: white;
    padding-top: 20px;
    display: relative;
}
.image-product {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .san-pham {
      margin-left: 70px;
      margin-bottom: 20px;
      padding: 10px;
      box-sizing: border-box;
      width: 230px;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 20px;
  }
 
  .san-pham img {
      width: 200px;
      padding-left: 30px;
  }

.san-pham a {
    text-decoration: none;
}

.san-pham p {
    padding-top: 10px;
     padding-bottom: 10px;
     text-align: center;
}
---------------------------
.hotline-phone-ring-circle{width:85px;height:85px;top:10px;left:10px;position:absolute;background-color:transparent;border-radius:100%;border:2px solid #e60808;-webkit-animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;animation:phonering-alo-circle-anim 1.2s infinite ease-in-out;transition:all .5s;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%;opacity:.5}
.hotline-phone-ring-circle-fill{width:55px;height:55px;top:22px;left:26px;position:absolute;background-color:rgba(230,8,8,.7);border-radius:100%;border:2px solid transparent;-webkit-animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;animation:phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;transition:all .5s;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%}
.hotline-phone-ring-img-circle{background-color:#e4212a;width:33px;height:33px;top:33px;left:37px;position:absolute;background-size:20px;border-radius:100%;border:2px solid transparent;-webkit-animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;animation:phonering-alo-circle-img-anim 1s infinite ease-in-out;-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;align-items:center;justify-content:center}
.hotline-phone-ring-img-circle .pps-btn-img{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
.hotline-phone-ring-img-circle .pps-btn-img img{width:20px;height:20px}

.hotline-bar{position:absolute;background:#e88a25;background:-webkit-linear-gradient(left,#e88a25,#d40000);background:-o-linear-gradient(right,#e88a25,#d40000);background:-moz-linear-gradient(right,#e88a25,#d40000);background:linear-gradient(to right,#e88a25,#e4212a);height:40px;width:200px;line-height:40px;border-radius:3px;padding:0 10px;background-size:100%;cursor:pointer;transition:all .8s;-webkit-transition:all .8s;z-index:9;box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.1);border-radius:50px !important;border:2px solid #fff;left:33px;bottom:37px}.hotline-bar>a{color:#fff;text-decoration:none;font-size:18px;font-weight:900;text-indent:50px;display:block;letter-spacing:1px;line-height:38px;font-family:Arial}.hotline-bar>a:hover,.hotline-bar>a:active{color:#fff}@-webkit-keyframes phonering-alo-circle-anim{0%{-webkit-transform:rotate(0) scale(.5) skew(1deg);-webkit-opacity:.1}30%{-webkit-transform:rotate(0) scale(.7) skew(1deg);-webkit-opacity:.5}100%{-webkit-transform:rotate(0) scale(1) skew(1deg);-webkit-opacity:.1}}@-webkit-keyframes phonering-alo-circle-fill-anim{0%{-webkit-transform:rotate(0) scale(.7) skew(1deg);opacity:.6}50%{-webkit-transform:rotate(0) scale(1) skew(1deg);opacity:.6}100%{-webkit-transform:rotate(0) scale(.7) skew(1deg);opacity:.6}}@-webkit-keyframes phonering-alo-circle-img-anim{0%{-webkit-transform:rotate(0) scale(1) skew(1deg)}10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)}40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)}50%{-webkit-transform:rotate(0) scale(1) skew(1deg)}100%{-webkit-transform:rotate(0) scale(1) skew(1deg)}}@media (max-width:768px){.hotline-bar{display:none}}

.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 20px;
    height: 20px;
}
img {
    border: none;
}


.hotline-phone-ring-wrap {
    position: fixed !important;
    bottom: 0;
    left: 0;
    z-index: 1111111;
}

.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
}


.float-icon-hotline {
    display: block;
    width: 40px;
    position: fixed;
    bottom: 85px;
    left: 33px;
    z-index: 999999;
}
	

.float-icon-hotline ul {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
}
.float-icon-hotline ul li {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.float-icon-hotline ul li a#messengerButton {
    padding: 0px !important;
    background: transparent !important;
    border: 0px !important;
}
@media only screen and (min-width: 960px)
{
	.float-icon-hotline ul li .fa {
		background-size: contain !important;
	}
}
.float-icon-hotline ul li .fa-phone {
    background-color: #ed1c24;
}
.float-icon-hotline ul li .fa {
    background-color: #ed1c24;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
}
.animated.infinite {
    animation-iteration-count: infinite;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.tada {
    animation-name: tada;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.float-icon-hotline ul li span {
    display: inline-block;
    padding: 0;
    background-color: #ff6a00;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    height: 40px;
    line-height: 36px;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 0;
    width: 0;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s;
    background-color: #ff6a00;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
}

ul.left-icon.hotline {
    margin-left: 0px !important;
}


.float-icon-hotline ul li .fa-zalo {
    background: url(https://netweb.vn/img/hotline/zalo.png) center center no-repeat;
}
.float-icon-hotline ul li .fa-zalo:hover {
    background: #ef0303 url(https://netweb.vn/img/hotline/zalo.png) center center no-repeat;opacity:.5;
}
.float-icon-hotline ul li .fa-messenger {
    background:  url(https://netweb.vn/img/hotline/fb.png) center center no-repeat;
}
.float-icon-hotline ul li .fa-messenger:hover {
    background: #168efb url(https://netweb.vn/img/hotline/fb.png) center center no-repeat;opacity:.5;
}

-------------------------------

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    /* background: #111; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
        background: #FF4949;
color: white;
}

-----------------------
/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
footer .container .noi-dung{
    margin-right: 30px;
}
footer  .container .noi-dung.about{
    width:40%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .noi-dung.about p{
    color: white;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 70px;
    margin-left: 400px;
  
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 50px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
----------------

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
    
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
    
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
    line-height: 1.4;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 23px;
    margin-right: 10px;
}
.contact .info li span{
    color: white;
}
.contact .info li a{
    color: white;
    text-decoration: none;
}
-------------
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f00;
}
.btn--primary:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}
